.about-bg {
  background: linear-gradient(85deg, #e6f2fb 0%, #b9def5 100%);
  padding: 32px;
  border-radius: 8px;
}
.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-info {
  color: #50a3e2;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}